@using E_Ticaret.Models.Entity
@model E_Ticaret.Models.Siniflar.Class1

@{
    ViewBag.Title = "AdresGetir";
    Layout = "~/Views/USTMENU/Index.cshtml";
}



<h2>
</h2>
<br />


<div style="margin:20px">
    @using (Html.BeginForm("AdresGuncelle", "Adres", FormMethod.Post))
    {
        <input  class="form-control" name="ID" value=@Model.deger7.First().ID>
        <div>
            <input type="hidden" class="form-control" name="UYEID" value="@ViewBag.dgr14">

        </div>

        <div class="form-group first">
            <label for="name"><b>BAŞLIK</b></label>
            <input class="form-control" name="BASLIK" value=@Model.deger7.First().BASLIK required>

        </div>


        <div class="form-group first">
            <label for="name"><b>İL</b></label>
            <input class="form-control" name="IL" value=@Model.deger7.First().IL required>

        </div>

        <div class="form-group first">
            <label for="name"><b>ILCE</b></label>
            <input class="form-control" name="ILCE" value=@Model.deger7.First().ILCE required>

        </div>

        <div class="form-group first">
            <label for="name"><b>ADRES</b></label>
            <input class="form-control" name="ADRES" value=@Model.deger7.First().ADRES required>

        </div>



        <br />

        <button class="btn btn-dark">ADRES GÜNCELLE</button>

    }

</div>

