@using E_Ticaret.Models.Entity
@model E_Ticaret.Models.Siniflar.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/USTMENU/Index.cshtml";
}

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var x in Model.deger1)
            {
                if (x.STOK > 1)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="@x.FOTOGRAF" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h4 class="fw-bolder">@x.TBL_MARKA.AD</h4>
                                    <h5 class="fw-bolder">@x.AD</h5>
                                    <!-- Product price-->
                                    @x.FIYAT TL
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Urun/Index/@x.ID">ÜRÜNÜ GÖSTER</a></div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
