
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link href="~/template/assets/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/template/assets/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link href="~/template/assets/vendors/jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/template/assets/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/template/assets/vendors/owl-carousel-2/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/template/assets/vendors/owl-carousel-2/owl.carousel.min.css" rel="stylesheet" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link href="~/template/assets/css/style.css" rel="stylesheet" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Giriş Yap</h3>
                            @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                            {
                            <form>
                                <div class="form-group">
                                    <label>MAİL ADRESİ</label>
                                    <input type="text" name="MAIL" class="form-control p_input">
                                </div>
                                <div class="form-group">
                                    <label>ŞİFRE</label>
                                    <input type="password" name="SIFRE" class="form-control p_input">
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between">
                                    <div class="form-check">
                                    
                                    </div>
                                    <a href="#" class="forgot-pass">Forgot password</a>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">GİRİŞ YAP</button>
                                </div>
                               
                                <p class="sign-up">Don't have an Account?<a href="#">KAYIT OL</a></p>
                            </form>
                            }
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/template/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/template/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/template/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/template/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <link href="~/template/assets/vendors/owl-carousel-2/owl.carousel.min.css" rel="stylesheet" />
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/template/assets/js/off-canvas.js"></script>
    <script src="~/template/assets/js/hoverable-collapse.js"></script>
    <script src="~/template/assets/js/misc.js"></script>
    <script src="~/template/assets/js/settings.js"></script>
    <script src="~/template/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/template/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <!-- endinject -->
</body>
</html>